body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  header {
    background: rgb(26, 117, 255);
    display: block;
    font-weight: bold;
  }
  
  .pg,
  .pg3 {
    background: rgb(185, 185, 223)
  }
  
  p,
  h1 {
    margin: 0;
    padding-bottom: 10px;
  }
  
  body {
    background-color: rgb(204, 255, 243)
  }
